/*Incliye los estilos independientes para cada proyecto*/
@font-face {
	font-family: "Title-HackItalic";
	src: url('../res/font/cyberdynehalfital.ttf');
}
@font-face {
	font-family: "Title-Hack";
	src: url('../res/font/cyberdynehalf.ttf');
}
.header{
	font-size: 0;
	background: steelblue;
}
.item{
	display: inline-block;
	vertical-align: middle;
}
.header h1{
	font-size: 3rem;
	font-family: Title-HackItalic;
}
.header .logo img{
	padding: .1rem;
	max-width: 50%;
}
.logo{
	cursor: pointer;
}
.logo:hover{
	background: rgba(0,0,0,0.2);
}
.main-menu ul{
	justify-content: space-around;
	background: #305D83;
	list-style: none;
	display: flex;
}
.main-menu li{
	border-right: thin solid #fff;
	flex: auto;
}
.main-menu li a{
	color: #fff;
	font-weight: bold;
	line-height: 2.5;
	text-decoration: none;
	display: block;
	border-bottom: .3rem solid #305D83;
}
.main-menu a:hover{
	border-bottom: .3rem solid #f00;
}


/*
Estilos Generales +1200px
-Breakpoints para Responsive Design Desktop First:
1200px	1024px	768px	600px	480px	320px
75em	64em	48em	37.5em	30em	20em
*/
@media screen and (max-width: 75em) {
	.header{ background: red; }
}
@media screen and (max-width: 64em) {
	.header{ background: green; }
	.header h1{	font-size: 2rem; }
	.header .logo img{ max-width: 75%; }
}
@media screen and (max-width: 48em) {
	.header{ background: blue; }
	.main-menu ul{ display: block; }
	.main-menu li a{
		border-bottom: thin solid #fff;
		font-size: 1rem;
		line-height: 4;
	}
	.main-menu li a:hover{
		border-bottom: thin solid #fff;
		background: rgba(0,0,0,.3);
	}

}
@media screen and (max-width: 37.5em) {
	.header{ background: cyan; }
	.header h1{	font-size: 1.5rem; }
	.header .logo img{ max-width: 100%; }
}
@media screen and (max-width: 30em) {
	.header{ background: magenta; }
	.header h1{	font-size: 1rem; }
}
@media screen and (max-width: 20em) {
	.header{ background: yellow; }
}